@keyframes button_upwork {
    0% {
      transform: scale(1, 0.1);
    }
    50% {
      background-image: url(../IMG/1200px-Upwork-logo.svg.png) white;
      background-size: 100%;
    }
    100% {
      transform: scale(1);
      content: "";
      background: center url(../IMG/1200px-Upwork-logo.svg.png) white;
      background-size: 100%;
    }}
@-webkit-keyframes button_upwork {
    0% {
        transform: scale(1, 0.1);
    }
    50% {
        background-image: url(../IMG/1200px-Upwork-logo.svg.png) white;
        background-size: 100%;
    }
    100% {
      transform: scale(1);
      content: "";
      background: center url(../IMG/1200px-Upwork-logo.svg.png) white;
      background-size: 100%;
    }
}
.network_button_animego::after {
    content: "";
    background: top url(../IMG/anime.webp);
    background-size: 100%;
}